<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SSApp">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <body>
        <div ng-controller="Controller">Register Child
            <p> Enter your Hospital Name <input type="text" ng-model="name" required="true"></p><br>
            <p> Enter your Hospital Email <input type="email" ng-model="email" required="true"></p><br>
            <p> Enter your password <input type="password" ng-model="password" required="true"></p><br>
            <p> Enter your hospital License Number <input type="text" ng-model="number" required="true"></p><br>
            <p> Enter your hospital Address <input type="text" ng-model="address" required="true"></p><br>
            <button ng-click="SendData()">Create Account</button>
        </div>
        <script>
            angular.module('SSApp', []).controller('Controller', function ($scope, $http, $window) {
                $scope.name = "Federal medical centre lokoja";
                $scope.email = "xxxx@xxxx.com";
                $scope.password = "xxxxxxxx";
                $scope.number = "";
                $scope.address = "";
                $scope.Button = "Button";
                $scope.SuccessResponse = "";
                $scope.ErrorResponse = "";


                $scope.SendData = function () {
                    $http.post("//localhost:8089/SocialSecurity/api/rest/account/create?"
                            + "hospitalName=" + $scope.name + "&hospitalEmail=" + $scope.email + "&password=" +
                            $scope.password + "&hospitalLicenseNumber=" + $scope.number +
                            "&hospitalAddress=" + $scope.address)
                            .then(function (response) {
                                $scope.SuccessResponse = response.data;
                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';


                            }, function (error) {
                                $scope.ErrorResponse = error.data;
                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';
                            });

                };


            });
        </script>
    </body>
</html>
