<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SSApp">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <body>
        <div ng-controller="Controller">Login
            <p> Child Name <input type="text" ng-model="childname" required="true"></p><br>
            <p> Father's Name <input type="text" ng-model="fathername" required="true"></p><br>
            <p> Mother's Name <input type="text" ng-model="mothername" required="true"></p><br>
            <p> Mother's email <input type="email" ng-model="motheremail" placeholder="xxxx@xxxx.com" required="true"></p><br>
            <p> Mother's phone no <input type="number" ng-model="phoneno" required="true"></p><br>
            <p> Child's Sex <input type="text" ng-model="sex" required="true"></p><br>
            <p> Date of Birth <input type="datetime-local" ng-model="dob" required="true"></p><br>
            <p> Social Number <input type="text" ng-model="socialnumber" required="true"></p><br>
            <p> Certifier Name <input type="text" ng-model="certifiername" required="true"></p><br>
            <p> Certifier Title <input type="text" ng-model="certifiertitle" required="true"></p><br>
            <p> Date of Registration <input type="datetime-local" ng-model="dateofreg" required="true"></p><br>
            <p> Birth Place address <input type="text" ng-model="placeofbirth" required="true"></p><br>
            <button ng-click="Capture()">Take pix</button>
            <p> <img ng-src="file"></p>
            <button ng-click="Register()">Register</button><hr>
            <p>{{success.data.entity.childImage}}</p>
        </div>
        <script>
            angular.module('SSApp', []).controller('Controller', function ($scope, $http, $window) {
                $scope.childname = "";
                $scope.fathername = "";
                $scope.mothername = "";
                $scope.motheremail = "";
                $scope.phoneno = "";
                $scope.sex = "";
                $scope.dob = "";
                $scope.socialnumber = "";
                $scope.certifiername = "";
                $scope.certifiertitle = "";
                $scope.dateofreg = "";
                $scope.placeofbirth = "";
                $scope.success = "";
                $scope.file = "";


                $scope.Register = function () {
                    $http.post("//localhost:8089/SocialSecurity/api/rest/child/register?"
                            + "&childName=" + $scope.childname + "&fatherName=" +
                            $scope.fathername + "&motherName=" + $scope.mothername + "&motherEmail=" + $scope.motheremail +
                            "&phoneNo=" + $scope.phoneno + "&socialNumber=" + $scope.socialnumber +
                            "&certifierName=" + $scope.certifiername + "&certifierMedicalTitle=" + $scope.certifiertitle +
                            "&birthPlaceAddress=" + $scope.placeofbirth + "&sex=" + $scope.sex +
                            "&dateOfBirth=" + $scope.dob + "&dateOfRegistration=" + $scope.dateofreg
                            + "&childImage=" + $scope.file)
                            .then(function (reply) {
                                $scope.success = reply;
                                console.log($scope.success);
//                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';


                            }, function (error) {
                                $scope.ErrorResponse = error.data;
//                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';
                            });

                };

                $scope.Capture = function () {
                    $http.get("//localhost:8089/SocialSecurity/api/rest/child/capture")
                            .then(function (response) {
                                $scope.file = response.data;
                                console.log($scope.file);
                            });
                };


            });
        </script>
    </body>
</html>
