<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SSApp">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <body>
        <div ng-controller="Controller">Create Hospital Account Here
            <p> Enter your Hospital Name <input type="text" ng-model="name" placeholder="Hospital Name" required></p><br>
            <p> Enter your Hospital Email <input type="email" ng-model="email" placeholder="Hospital Email" required></p><br>
            <p> Enter your password <input type="password" ng-model="password" placeholder="password" required></p><br>
            <p> Enter your hospital License Number <input type="text" ng-model="number" placeholder="License Number" required></p><br>
            <p> Enter your hospital Address <input type="text" ng-model="address" placeholder="Address" required ="address"></p><br>
            <button ng-click="SendData()">Create Account</button>

        </div>
        <script>
            angular.module('SSApp', []).controller('Controller', function ($scope, $http, $window) {
                $scope.name = "";
                $scope.email = "";
                $scope.password = "";
                $scope.number = "";
                $scope.address = "";
                $scope.Button = "Button";
                $scope.response = "";
                $scope.eresponse = "";


                $scope.SendData = function () {
                    $http.post("//localhost:8089/SocialSecurity/api/rest/account/create?"
                            + "hospitalName=" + $scope.name + "&hospitalEmail=" + $scope.email + "&password=" +
                            $scope.password + "&hospitalLicenseNumber=" + $scope.number +
                            "&hospitalAddress=" + $scope.address)
                            .then(function (response) {
                                $scope.response = response;
                                $window.location.href = 'http://localhost:8089/SocialSecurity/login.html';
                                console.log($scope.response);
                            }, function (error) {
                                $scope.eresponse = error.data;
//                                $window.location.href = 'http://localhost:8089/SocialSecurity/error.html';
                            });

                };


            });
        </script>
    </body>
</html>
