<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SSApp">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <body>
        <div ng-controller="Controller">Login
            <p> Enter your Hospital Email <input type="email" ng-model="email" required="true"></p><br>
            <p> Enter your password <input type="password" ng-model="password" required="true"></p><br>
            <button ng-click="Login()">Login</button>
            <p>{{response}}</p>
        </div>
        <script>
            angular.module('SSApp', []).controller('Controller', function ($scope, $http, $window) {
                $scope.email = "xxxx@xxxx.com";
                $scope.password = "xxxxxxxx";
                $scope.success = "";

                $scope.Login = function () {
                    $http.get("//localhost:8089/SocialSecurity/api/rest/account/login?"
                            + "&hospitalEmail=" + $scope.email + "&password=" +
                            $scope.password)
                            .then(function (reply) {
                                $scope.success = reply;
                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';
                                console.log($scope.success);

                            }, function (error) {
                                $scope.ErrorResponse = error.data;
//                                $window.location.href = 'http://localhost:8089/SocialSecurity/child.html';
                            });

                };


            });
        </script>
    </body>
</html>
